<button (click)="onAdd({})">Add New</button>
<table width="100%" [attr.border]="1">
  <tr>
    <th>Actions</th>
    <th>ID</th>
    <th>Email</th>
    <th>Name</th>
  </tr>

  <tr *ngFor="let user of users.data">
    <td>
      <a (click)="onDelete(user.id)">D</a>&nbsp;
      <a (click)="onView(user.id)">E</a>&nbsp;
      <a (click)="onUpdate(user.id)">V</a>
    </td>
    <td>{{ user.id }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.first_name }} {{ user.last_name }}</td>
  </tr>
</table>
