<button *ngIf="!showAddForm" (click)="onAddCancelAction()">Add New</button>

<div *ngIf="showAddForm">
  <h2>Form example</h2>
  <form #usersForm="ngForm" (ngSubmit)="getUserFormData(usersForm.value)">
    <input
      type="text"
      ngModel
      name="username"
      placeholder="Enter Name"
    /><br /><br />
    <input
      type="text"
      ngModel
      name="email"
      placeholder="Enter Email"
    /><br /><br />
    <button type="button" (click)="onAddCancelAction()">Cancel</button>
    <button type="submit">Save</button>
  </form>
</div>
<table width="100%" [attr.border]="1">
  <tr>
    <th>Actions</th>
    <th>ID</th>
    <th>Email</th>
    <th>Name</th>
  </tr>

  <tr *ngFor="let user of users">
    <td>
      <a (click)="onDelete(user.id)">D</a>&nbsp;
      <a (click)="onUpdate(user.id)">E</a>&nbsp;
      <a (click)="onView(user.id)">V</a>

      <div *ngIf="user.id===selectedId">
      {{user.id}}
      <img src="{{user.avatar}}" />
      </div>
    </td>
    <td>{{ user.id }}</td>
    <td>{{ user.email | lowercase }}</td>
    <td>{{ user.first_name | uppercase }} {{ user.last_name }}</td>
  </tr>
</table>
