<header>
  <nav class="navbar">
    <ul class="nav">
      <li class="nav-item">
        <a
          class="nav-link active"
          routerLink="/search"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/classification"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >About</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/users"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Users</a
        >
      </li>
      <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/form"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >form</a
      >
    </li>
    </ul>
  </nav>
  <!-- Fixed navbar -->
</header>

<router-outlet></router-outlet>

<div class="mt-5 p-4 bg-dark text-white text-center">
  <p>Footer</p>
</div>
<!-- 
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" routerLink="/">Logo</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarCollapse"
    aria-controls="navbarCollapse"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link active"
          routerLink="/search"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/classification"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Test Route</a
        >
      </li>
    </ul>
  </div>
</nav> -->
